@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Neue Haas Grotesk Display Pro";
  src: url("../font/NeueHaasDisplay-Roman.woff2") format("woff2"),
    url("../font/NeueHaasDisplay-Roman.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

html,
body,
#__nuxt,
#__layout {
  height: 100% !important;
  width: 100% !important;
  font-family: "Neue Haas Grotesk Display Pro", "Arial", "Helvetica",
    "sans-serif";
}

body {
  background-color: #000;
  color: #f9fdfe;
}

body::-webkit-scrollbar {
  display: none;
}
